{% extends 'base.html' %}
{% block content %}

<br>
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Customer:</h5>
		    <hr>
		    <a class= "btn btn-outline-info btn-sm btn-block"href="{% url 'apps:update_order' customer.id %}">Update Customer</a>
		    <a class= "btn btn-outline-info btn-sm btn-block"href="{% url 'apps:create_order' customer.id %}">Place order</a>
		     
		  </div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<center><h5>Contact Information</h5>
		    <hr>
		    <p>Email : {{customer.email}}</p>
		    <p>Phone : {{customer.phone}}</p></center>
		     
		  </div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<center><h5>Total Order:</h5></center>
		    <hr>
		   <center> <h1 style="test-align:center; padding: 10px">{{total_order}}</h1></center>
		     
		  </div>
	</div>
</div>
	



<div class="row">
	<div class="col">
		<div card card-body>
			<form method="get">
				{{ myFilter.form}}
				<button class="btn btn-primary" type="submit">Search</button>
				
			</form>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Category</th>
					<th>Date Ordered</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>
				{% for i in order %}
				<tr>
					<td>{{i.product}}</td>
					<td>{{i.product.category}}</td>
					<td>{{i.date_created}}</td>
					<td>{{i.status}}</td>
					<td><a class = "btn btn-sm btn-info" href="{% url 'apps:update_order' i.id %}">Update</a></td>
					<td><a class = "btn btn-sm btn-danger" href="{% url 'apps:delete_order' i.id %}">Delete</a></td>
				</tr>
				{% endfor %}
			</table>	
		</div>
		
	</div>
</div>

{% endblock %}